html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow: visible;
}
.column {
    float: left;
    width: 32.23%;
    background-color: #003f87;
    margin:10px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.myButton{
    padding: 0px;
    text-align: center;
    font-size: 50px;
    border-radius: 10%;
    width:100%;

}

#description{
    text-align: center;
}

#center{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;

}

#info{
    background-color: #003f87;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

dl {
    color:white;
    font-size: 30px;
}

dt {
    font-weight: bold;
}

h3{
    text-align: center;
    font-size: 30px;
}

p{
    font-size: 20px;
}

form {
    background-color: #003f87;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 1;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  #list {
        border: 1px solid #003f87;
        border-radius: 5px;
        display: block;
    }
    .listItem {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        padding: 5px 20px;
        color: black;
    }
    .listItem:hover {
        background-color: rgb(211, 211, 211);
    }