html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
.column {
    float: left;
    width: 32.23%;
    background-color: #003f87;
    margin:10px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.myButton{
    padding: 0px;
    text-align: center;
    font-size: 50px;
    border-radius: 10%;
    width:100%;

}

#description{
    text-align: center;
}

#center{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;

}

.info{
    background-color: #003f87;
    margin: 10px;
    padding: 100px;
}

.info p{
    color: white;
}

