
html body {
    /*overflow:hidden;*/
}

.content {
    justify-content: center;
}

.welcome-banner {
    padding: 0vh 10vw 5vh 10vw;
}


.button-container {
    display: flex;
    justify-content: space-evenly;
}

.button-link {
    width: 33rem;
    height: 16rem;
    background-color: #003f87;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    padding: 0px;
    text-align: center;
    font-size: 50px;
    border-radius: 10%;
    width:100%;
}

