html body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header-nav {
    border: thin solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003f87;
    color: #ffffff;
    padding: 0.25rem;
    margin: 0;
}

.header-nav img {
    height:100px;
    width: auto;
}

.nav-links{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    font-size: 14pt;
}

.nav-links li:hover {
    background-color: #69afff;
}

.nav-links li {
    padding:1rem
}

a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.content h1, h2, p {
    padding: 0vh 0vw 0vh 5vw;
}

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width:100%;
    align-items: center;
    background-color: #003f87;
    color:#ffffff;
    font-size: 10pt;
    height:64px;
}

.footer img {
    height:48px;
    width: auto;
    padding-right: 12px;
}