html body {
    overflow:hidden;
}

.upload-container {
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-bottom:5rem */
}

.upload-box {
    height: 70vh;
    width: 40vw;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.custom-file-upload {
    border: 1px solid #ccc;
    background-color: rgb(0, 131, 214);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 25px;
    border-radius: 4px;
    color:#ffffff;
    font-size: 14pt;
    padding-left: 15vw;
    margin-bottom: 8px;
}

input[type=textarea] {
    width: 100%;
    height: 150px;
    padding: 112px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14pt;
  }


