{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Academic West</h2>

<div id="center">
    <img src="static/images/buildings/Academic_West.JPG" alt="An image of Academic West as approached from the South of campus.">
    <div id="info">
        <h3 id="subtitle">
            Building Accessibility Features
        </h3>
        <ul>
            <li>Elevator</li>
            <li>Button activated entrances are located on the east and west sides of the building</li>
            <li>The central elevator provides access to all floors and the 4th floor sky-bridge provides access to the AI.</li>
            <li>Accessible restrooms are located on all floors.</li>
            <li>This building has Accessible, Gender Neutral Restrooms.</li>
        </ul>
    </div>
</div>

<div class="row">
    <a class="myButton" href="aw2">
        <div class="column">
            Floor 2 (Ground)
        </div>
    </a>
    <a class="myButton" href="aw3">
        <div class="column">
            Floor 3
        </div>
    </a>
    <a class="myButton" href="aw4">
        <div class="column">
            Floor 4
        </div>
    </a>
</div>

{% endblock %}