{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Bond Hall | Floor 1</h2>

<div id="center">
    <img src="static/images/floorplans/bh_floorplan_1.PNG" width = 800 height = 500  alt="A floorplan for Bond Hall's first floor.">
</div>
<br><br>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            103
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            104
        </div>
    </a>
    <a class="myButton" href="sample3">
        <div class="column">
            105
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            106
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            108
        </div>
    </a>
    <a class="myButton" href="sample3">
        <div class="column">
            109
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="cf105">
        <div class="column">
            110
        </div>
    </a>
    <a class="myButton" href="cf110">
        <div class="column">
            112
        </div>
    </a>
    <a class="myButton" href="cf115">
        <div class="column">
            114
        </div>
    </a>
</div>


<br><br><br><br>

{% endblock %}