{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Bond Hall | Floor 2</h2>

<div id="center">
    <img src="static/images/floorplans/bh_floorplan_2.PNG" width = 800 height = 500  alt="A floorplan for Bond Hall's second floor.">
</div>
<br><br>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            200
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            201
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            202
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            206
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            208
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            209
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            210
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            211A
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            212
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            214
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            215
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            216
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            217
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            218
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            220
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            221
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            222
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            224
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            225
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            226
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            227
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            228
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            229
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            230
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            231
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            232
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            233
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            234
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            236
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            238
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            240
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            242
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            244
        </div>
    </a>
</div>

{% endblock %}