{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Bond Hall | Floor 3</h2>

<div id="center">
    <img src="static/images/floorplans/bh_floorplan_3.PNG" width = 800 height = 500  alt="A floorplan for Bond Hall's third floor.">
</div>
<br><br>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            300
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            302
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            306
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            306B
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            309
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            310
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            311
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            312
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            313
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            314
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            314B
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            315
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            316
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            318
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            320
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            324
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            325
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            326
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            327
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            328
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            329
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            330
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            332
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            336
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            338
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            340
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            342
        </div>
    </a>
</div>


<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            344
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            346
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            348
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            349
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            350
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            351
        </div>
    </a>
</div>


<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            352
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            353
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            354
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            355
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            356
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            357
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            358
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            360
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            362
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            319
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            317
        </div>
    </a>
</div>


<br><br><br><br>

{% endblock %}