{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Bond Hall | Mezzanine</h2>

<div id="center">
    <img src="static/images/floorplans/bh_floorplan_mez.PNG" width = 800 height = 500  alt="A floorplan for Bond Hall's Mezzanine.">
</div>
<br><br>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            151
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            152
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            154
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            156
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            158
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            159
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            160
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            162
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            164
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            166
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            168
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            170
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            172
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            173
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            174
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            175
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            176
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            178
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            180
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            182
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            186
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            188
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            190
        </div>
    </a>
    <a class="myButton" href="sample2">
        <div class="column">
            192
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="sample1">
        <div class="column">
            194
        </div>
    </a>
</div>


<br><br><br><br>

{% endblock %}