{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Bond Hall | Penthouse</h2>

<div id="center">
    <img src="static/images/floorplans/bh_floorplan_pent.PNG" width = 800 height = 500  alt="A floorplan for Bond Hall's Penthouse.">
</div>
<br><br>

<div class="row">
    <a class="myButton" href="sample2">
        <div class="column">
            501
        </div>
    </a>
    <a class="myButton" href="sample1">
        <div class="column">
            502
        </div>
    </a>
</div>


<br><br><br><br>

{% endblock %}