{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2 id="center">Bond Hall</h2>

<div id="center">
    <img src="static/images/Bond Hall.JPG" alt="An image of Academic East as approached from the North of campus.">
</div>

<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Basement
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 1
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 1 Mezzanine
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 2
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 3
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 4
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Penthouse
        </div>
    </a>
</div>


{% endblock %}