{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Carver Gym</h2>

<div id="center">
    <img src="static/images/buildings/Carver.JPG" alt="An image of the front of Carver Gym which has walls of glass and a large screen displaying the Viking emblem.">
    <div id="info">
        <h3 id="subtitle">
            Building Accessibility Features
        </h3>
        <ul>
            <li>Elevator and Lift</li>
            <li>Button activated entrances.</li>
            <li>This building has Accessible, Gender Neutral Restrooms.</li>
        </ul>
    </div>
</div>

<div class="row">
    <a class="myButton" href="cv1">
        <div class="column">
            Floor 1
        </div>
    </a>
    <a class="myButton" href="cv2">
        <div class="column">
            Floor 2
        </div>
    </a>
    <a class="myButton" href="cv3">
        <div class="column">
            Floor 3
        </div>
    </a>
</div>




{% endblock %}