{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Humanities Building</h2>

<div id="center">
    <img src="static/images/buildings/humanities.JPG" alt="An image of the humanities building as seen through some leaves. The building is old and brick with small windows which each have an awning.">
    <div id="info">
        <h3 id="subtitle">
            Building Accessibility Features
        </h3>
        <ul>
            <li>Elevator</li>
            <li>Button activated entrances are located on the northeast and southeast sides of the building.</li>
            <li>An elevator provides access to floors 1-3.</li>
            <li>This building has Accessible Restrooms.</li>
        </ul>
    </div>
</div>

<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Basement
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 1
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 2
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 3
        </div>
    </a>
    
</div>


{% endblock %}