{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Old Main</h2>

<div id="center">
    <img src="static/images/Old Main.JPG" alt="An image of Academic East as approached from the North of campus.">
    <div id="info">
        <h3 id="subtitle">
            Building Accessibility Features
        </h3>
        <ul>
            <li>Elevator</li>
            <li>Button activated entrances are located on the southwest and southeast sides of the building.</li>
            <li>An accessible manual entrance is located on the southeast side of the building.</li>
            <li>The south elevator provides access to floors 1-4 and room 530 on the 5th floor while the north <br>elevator provides access to floors 2-4 and rooms 560-587 on the 5th floor.</li>
            <li>This building has Accessible, Gender Neutral Restrooms.</li>
        </ul>
    </div>
</div>

<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 1
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 2
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 3
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 4
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 5
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Attic
        </div>
    </a>
</div>


{% endblock %}