{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Wilson Library</h2>

<div id="center">
    <img src="static/images/buildings/Wilson spring.JPG" alt="An image of Wilson Library through some trees. The building is tall and made of old brick. The windows are arched with columns.">
    <div id="info">
        <h3 id="subtitle">
            Building Accessibility Features
        </h3>
        <ul>
            <li>Elevator</li>
            <li>This building is accessible via the Haggard Hall/Wilson Library sky-bridge.</li>
            <li>The southwest elevator provides access to levels 2-6 while the east and west elevators access levels 1-5.</li>
            <li>This building has Accessible, Gender Neutral Restrooms.</li>
        </ul>
    </div>
</div>

<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 1
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 2
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 3
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 4
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 5
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 6
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Attic
        </div>
    </a>
</div>


{% endblock %}