{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Mid Campus Buildings</h2>


<div class="row">
    <a class="myButton" href="arntzenhall">
        <div class="column">
            Artnzen Hall
        </div>
    </a>
    <a class="myButton" href="biologybuilding">
        <div class="column">
            Biology Building
        </div>
    </a>
    <a class="myButton" href="environmentalscience">
        <div class="column">
            Environmental Science
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="fineartsbuilding">
        <div class="column">
            Fine Arts Building
        </div>
    </a>
    <a class="myButton" href="interdiciplinary">
        <div class="column">
            Interdiciplinary Science
        </div>
    </a>
    <a class="myButton" href="morsehall">
        <div class="column">
            Morse Hall
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="parkshall">
        <div class="column">
            Parks Hall
        </div>
    </a>
    <a class="myButton" href="rossengineering">
        <div class="column">
            Ross Engineering Tech
        </div>
    </a>
    <a class="myButton" href="sciencelecturebuilding">
        <div class="column">
            Science Lecture Building
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}