{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>North Campus Buildings</h2>

<div class="row">
    <a class="myButton" href="bondhall">
        <div class="column">
            Bond Hall
        </div>
    </a>
    <a class="myButton" href="carvergym">
        <div class="column">
            Carver Gym
        </div>
    </a>
    <a class="myButton" href="collegehall">
        <div class="column">
            College Hall
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="fraserhall">
        <div class="column">
            Fraser Hall
        </div>
    </a>
    <a class="myButton" href="haggardhall">
        <div class="column">
            Haggard Hall
        </div>
    </a>
    <a class="myButton" href="humanitiesbuilding">
        <div class="column">
            Humanities Building
        </div>
    </a>
</div>

<div class="row">
    <a class="myButton" href="millerhall">
        <div class="column">
            Miller Hall
        </div>
    </a>
    <a class="myButton" href="oldmain">
        <div class="column">
            Old Main
        </div>
    </a>
    <a class="myButton" href="pac">
        <div class="column">
            Performing Arts Center
        </div>
    </a>
</div>

<!--Centering last element on page is current WIP-->
<!--id="center"-->
<div class="row" ></div>>
    <a class="myButton" href="wilsonlibrary">
        <div class="column">
            Wilson Library
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}