{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Sample Classroom</h2>
<br>

<div id="center">
    <img src="static/images/classrooms/class3.png" width = 800 height = 500  alt="A large lecture hall with seating on various levels of a stairway. At the front of the room is a stage with a blackboard. Emergency exits are down the stairs to the far left and far right of the entrance.">
</div>

&nbsp;

<div class="row" id="info">
    <dl class="column" >
        <dt>Automatic opening entryway?</dt>
        <dd>No</dd>
        <dt>Single or double door entryway?</dt>
        <dd>Double</dd>
        <dt>Rearrangable furniture?</dt>
        <dd>No</dd>
    </dl>
    <dl class="column" >
        <dt>Is the floor carpeted?</dt>
        <dd>No</dd>
        <dt>Are there any stairs or steps in the room?</dt>
        <dd>Yes</dd>
        <dt>Distance from front of room to back of room?</dt>
        <dd>Long</dd>
    </dl>
    <dl class="column">
        <dt>Where is the front of the room?</dt>
        <dd>Straight ahead, down the stairs</dd>
        <dt>Are there narrow walkways?</dt>
        <dd>Yes</dd>
    </dl>
</div>


{% endblock %}