{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2 id="center">SAMPLE FLOOR PAGE IN [Arntzen Hall]</h2>
<h3 id="center">FLOOR #[num]/Basement/Concourse/Penthouse</h3>
<div id="center">
    <img src="static/images/ah1_floorplan.PNG" width = 800 height = 500  alt="Diagram of the rooms on floor 1 or Arntzen_Hall.">
</div>

<br><br>

<div id ="center">
    <p>WAAAAAAAAAAAAAAAAAAAAAAAAA</p>
    <p><a href="sampleroom">Room #[101]</a></p> 
    <a href="sampleroom">Room #[102]</a>
    <a href="sampleroom">Room #[103]</a>
    <a href="sampleroom">Room #[104]</a>
    <a href="sampleroom">Room #[105]</a>
    <a href="sampleroom">Room #[106]</a>
    <a href="sampleroom.">Room #[107]</a>
    <a href="sampleroom">Room #[108]</a>
    <a href="sampleroom">Room #[109]</a>
    <a href="sampleroom">Room #[110]</a>
</div>

<br><br>


{% endblock %}