{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2 id="center">SAMPLE ROOM in BUILDING</h2>

<div id="center">
    <img src="static/images/sampleclassroom.JPG" width = 800 height = 500  alt="get out get out get out get out get out get out get out get out get out get out get">
</div>

<br><br>

<div class="info">
    <p>Helo there</p>
</div>

{% endblock %}