{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2 id="center">SAMPLE ROOM in Science Lecture Building</h2>
<br>

<div id="center">
    <img src="static/images/class3.png" width = 800 height = 500  alt="A large lecture hall with seating on various levels of a stairway. At the front of the room is a stage with a blackboard. Emergency exits are down the stairs to the far left and far right of the entrance.">
</div>

&nbsp;

<div class="row" id="info">
    <dl class="column" >
        <dt>Automatic opening entryway?</dt>
        <dd>No</dd>
        <dt>Single or double door entryway?</dt>
        <dd>Double</dd>
        <dt>Rearrangable furniture?</dt>
        <dd>No</dd>
    </dl>
    <dl class="column">
        <dt>Where is the front of the room?</dt>
        <dd>Straight from entrance, down a flight of stairs, up on a stage</dd>
        <dt>Overall Accessibility Level of Room:</dt>
        <dd>Mostly Inaccessible</dd>
    </dl>
</div>


{% endblock %}