{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Science Lecture Building | Floor 2</h2>


<div id="center">
    <img src="static/images/sl2_floorplan.PNG" width = 800 height = 500  alt="A floorplan of SMATE's second floor detailing one very large central lecture room with two slightly smaller rooms on either side. There are smaller classrooms, a stairway, and bathrooms on the opposite side of the floor.">
</div>
<br><br>

<div class="row">
    <a class="myButton" href="sample3">
        <div class="column">
            210
        </div>
    </a>
    <a class="myButton" href="sample3">
        <div class="column">
            220
        </div>
    </a>
    <a class="myButton" href="sample3">
        <div class="column">
            230
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample3">
        <div class="column">
            240N
        </div>
    </a>
    <a class="myButton" href="sample3">
        <div class="column">
            240S
        </div>
    </a>
    <a class="myButton" href="sample3">
        <div class="column">
            222
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample3">
        <div class="column">
            223
        </div>
    </a>
    <a class="myButton" href="sample3">
        <div class="column">
            225
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}