{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Communications Facility | Floor 1</h2>

<div id="center">
    <img src="static/images/floorplans/cf_floorplan_1.PNG" width = 800 height = 500  alt="A floorplan for Communication's Facility's first floor.">
</div>
<br><br>

<div class="row">
    <a class="myButton" href="cf105">
        <div class="column">
            105
        </div>
    </a>
    <a class="myButton" href="cf110">
        <div class="column">
            110
        </div>
    </a>
    <a class="myButton" href="cf115">
        <div class="column">
            115
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="cf120">
        <div class="column">
            120
        </div>
    </a>
    <a class="myButton" href="cf125">
        <div class="column">
            125
        </div>
    </a>
    <a class="myButton" href="cf161">
        <div class="column">
            161
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="cf162">
        <div class="column">
            162
        </div>
    </a>
    <a class="myButton" href="cf163">
        <div class="column">
            163
        </div>
    </a>
    <a class="myButton" href="cf164">
        <div class="column">
            164
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="cf167">
        <div class="column">
            167
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}