{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Communications Facility | Floor 1</h2>

<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            105
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            110
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            115
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            120
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            125
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            161
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            162
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            164
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            165
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            167
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}