{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Communications Facility | Floor 2</h2>

<div id="center">
    <img src="static/images/floorplans/cf_floorplan_2.PNG" width = 800 height = 500  alt="A floorplan for Communication's Facility's second floor.">
</div>
<br><br>

<div class="row">
    <a class="myButton" href="cf224">
        <div class="column">
            224
        </div>
    </a>
    <a class="myButton" href="cf225">
        <div class="column">
            225
        </div>
    </a>
    <a class="myButton" href="cf226">
        <div class="column">
            226
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="cf227">
        <div class="column">
            227
        </div>
    </a>
    <a class="myButton" href="cf229">
        <div class="column">
            229
        </div>
    </a>
    <a class="myButton" href="cf231">
        <div class="column">
            231
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}