{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Communications Facility | Floor 2</h2>

<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            202
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            216
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            221
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            222
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            223
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            224
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            225
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            226
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            227
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            229
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            230
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            231
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}