{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Communications Facility | Floor 3</h2>

<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            302
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            307
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            310
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            311
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            312
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            314
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            315
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            316
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}