{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Communications Facility | Floor 4</h2>

<div id="center">
    <img src="static/images/floorplans/cf_floorplan_4.PNG" width = 800 height = 500  alt="A floorplan for Communication's Facility's fourth floor.">
</div>
<br><br>

<div class="row">
    <a class="myButton" href="cf405">
        <div class="column">
            405
        </div>
    </a>
    <a class="myButton" href="cf420">
        <div class="column">
            420
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}