{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Communications Facility | Floor 4</h2>

<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            404
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            405
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            406
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            408
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            412
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            414
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            416
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            418
        </div>
    </a>
    <a class="myButton" href="sample">
        <div class="column">
            419
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="sample">
        <div class="column">
            420
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}