{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Communications Facility | Basement</h2>

<div id="center">
    <img src="static/images/floorplans/cf_floorplan_base.PNG" width = 800 height = 500  alt="A floorplan for Communication's Facility's basement floor.">
</div>
<br><br>

<div class="row">
    <a class="myButton" href="cf023">
        <div class="column">
            023
        </div>
    </a>
    <a class="myButton" href="cf024">
        <div class="column">
            024
        </div>
    </a>
    <a class="myButton" href="cf025">
        <div class="column">
            025
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="cf026">
        <div class="column">
            026
        </div>
    </a>
</div>

<br><br><br><br>


{% endblock %}