{% extends "layout.html" %} 

{% block header %}

    <title>About | Disability Access Navigation Guide</title>
    <!--Add unique stylesheet reference here-->

{% endblock %}

{% block content %}
<h1>About the Disability Access Navigation Guide</h1>
<p style ="margin-right: 5%"> Through this website, we will provide accessibility information regarding classrooms 
    across campus. We want to provide excellent and thorough resources for people who are mobility impaired and visually impaired, so that they have an equitable experience while navigating campus.</p>
<div style ="margin-left: 5%;margin-right: 7%">
    <h2>Team Information</h2>
    <p>We are a team of computer science students at Western Washington University (WWU) located in Bellingham Washington that strive to create accessible software tools</p>
    <p>We are divided into two teams, one of which will be in charge of the campus map and the visual data, 
        and the other team will take charge of the report-updated information, website creation, and database management.</p>
        <h2>Pictures of the teams</h2>
        
</div>
<div style = "margin-left: 13%;  display: grid-row; column-gap: 40px; margin-bottom: 20px;"> 
    <img style="width:300px; height: 250px;" src="../static/images/download1.jpeg" alt="Could use descriptive alt text">
    <img style="width:300px; height: 250px;" src="../static/images/download.jpeg" alt="Descriptive alt text, please">
    <img style="width:300px; height: 250px;" src="../static/images/wwu-image.jpeg" alt="More descriptive alt text, please">
</div>


{% endblock %}