{% extends "layout.html" %} 

{% block header %}

    <title>About</title>
    <!--Add unique stylesheet reference here-->

{% endblock %}

{% block content %}
<h1>Disability Access Navigation Guide</h1>
<p style ="margin-right: 5%"> Through the website, we will provide the accessibility information of classrooms 
    across the campus. We want to prodive the good resource for people who are mobility impaired,
    and visually impaired, then they have better experience with the campus and knowing all the benefit they have.
</p>
<div style ="margin-left: 5%;margin-right: 7%">
    <h2>Team Information</h2>
    <p>We're a team of computer science students at Western Washington University located in Bellingham Washington who strive to create software tools for accessible computing.</p>
    <p>We are divided into two teams, one of which will be in charge of the campus map and the visual data, 
        and another one will in charge of the report-updated information, website creation, and database management.</p>
</div>
<div style = "margin-left: 13%;  display: grid-row; column-gap: 40px; margin-bottom: 20px;"> 
    <img style="width:300px; height: 250px;" src="../static/images/download1.jpeg" alt="Team Work">
    <img style="width:300px; height: 250px;" src="../static/images/download.jpeg" alt="Team Work">
    <img style="width:300px; height: 250px;" src="../static/images/wwu-image.jpeg" alt="Team Work">
</div>


{% endblock %}