{% extends "layout.html" %} 

{% block header %}

    <title>Contact Us | Disability Access Navigation Guide</title>
    <!--Add unique stylesheet reference here-->

{% endblock %}

{% block content %}
<h1>Contact Us</h1>

    <h2>Get in touch with us to learn more about the DANG resource.</h2>
    <div style="margin-left: 30px;">
    <ul>
        <li style="margin-left: 30px;">Emma Geary - <a href="mailto:gearye2@wwu.edu"></a></li>
        <li style="margin-left: 30px;">Benjamin Clay - <a href="mailto:clayb@wwu.edu"></a></li>
        <li style="margin-left: 30px;">Ryan Rapoport - <a href="mailto:rapopor@wwu.edu"></a></li>
    <li style="margin-left: 30px;">Don Strong - <a href="mailto:strongd5@wwu.edu"></a></li>
        <li style="margin-left: 30px;">Thuan Nguyen- <a href="mailto:nguye404@wwu.edu"></a></li>
        <li style="margin-left: 30px;">Katie Taylor - <a href="mailto:taylo230@wwu.edu"></a></li>
        <li style="margin-left: 30px;">Nikita Rana- <a href="mailto:ranan@wwu.edu"></a></li>
    </ul>
</div>

{% endblock %}