{% extends "layout.html" %} 

{% block header %}

    <title>Contact | Disability Access Navigation Guide</title>
    <!--Add unique stylesheet reference here-->

{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<div style="margin-left: 30px;">
    <h2>Get in touch with us to learn more about this resource.</h2
    <ul>
        <li style="margin-left: 30px;">Emma Geary - <a href="mailto:gearye2@wwu.edu"></a></li>
        <li style="margin-left: 30px;">Benjamin Clay - clayb@wwu.edu</li>
        <li style="margin-left: 30px;">Ryan Rapoport - rapopor@wwu.edu</li>
    <li style="margin-left: 30px;">Don Strong - strongd5@wwu.edu</li>
        <li style="margin-left: 30px;">Thuan Nguyen- nguye404@wwu.edu</li>
        <li style="margin-left: 30px;">Katie Taylor - taylo230@wwu.edu</li>
        <li style="margin-left: 30px;">Nikita Rana- ranan@wwu.edu</li>
    </ul>
</div>

{% endblock %}