{% extends "layout.html" %}

{% block header %}
<title>Disability Access Navigation Guide - Upload Failed</title>
        
{% endblock %}

{% block content %}
<div class="result"><h1>Your upload failed, please try again.</h1>
</div>

<div class="button-container">
    <a class="button-link" href="upload">
        <div class="button-text">
            Upload Data
        </div>
    </a>
    <a class="button-link" href="map">
        <div class="button-text">
            Campus Map
        </div>
    </a>
</div>
{% endblock %}
