<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheets/template.css" />
    <link rel="shortcut icon" href="/static/images/wwu-logo.png" type="image/x-icon">
    {% block header %}

    {% endblock %}
</head>

<body>
    <header class="header">
        <a class = "logo" href="https://www.wwu.edu"><img src="/static/images/thumbnail_Outlook-Logo, comp.png"
                alt="Western Washington University logo - Make Waves!"></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li> <a href='/'>Home</a></li>
                <li> <a href='about'>About</a></li>
                <li> <a href='upload'>Upload Data</a></li>
                <li> <a href='map'>Campus Map</a></li>
                <li> <a href='contact'>Contact Us</a></li>
            </ul>
    </header>
    <main>
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </main>
    <footer aria-label="DANG">
        <div class="footer">
            <h2>Disability Access Navigation Guide</h2>
            <a href="https://github.com/Teaching-Accessibility/course-project-disability-access-navigation-guide">
                <img src="/static/images/github-mark-white.png"
                    alt="Teaching Accessibility at Western Washington University"></a>
        </div>
    </footer>
</body>

</html>