{% extends "layout.html" %} 

{% block header %}

    <title>Campus Map</title>
    <link rel="stylesheet" href="../static/stylesheets/filter.css">
    <!--Add unique stylesheet reference here-->

{% endblock %}

{% block content %}
<h1>Disability Access Navigation Guide</h1>
<h2>Campus Map</h2>

    <h3>Search for your building: </h3>
    <div id = "center">
        <form id="form" role="search"> 
            <input type="search" id="query"  autocomplete="off" name="q" 
            placeholder="Search..."
            aria-label="Search through site content">
            <button type="submit">
            <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 
                55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 
                177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 
                218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
            </button>
            <!-- <div id="list"></div> -->
            <script>
               const f = document.getElementById('form');
                /*let buildings = [
                    'arntzenhall',
                    'biologybuilding',
                    'enviornmentalscience',
                    'fineartsbuilding',
                    'interdiciplinaryscience',
                    'morsehall',
                    'parkshall',
                    'rossengineeringtech',
                    'sciencelecturebuilding',
                    'bondhall',
                    'carvergym',
                    'collegehall',
                    'fraserhall',
                    'haggardhall'
                ];
                
                let list = document.getElementById('list');
                // Add each data item as an <a> tag
                buildings.forEach((building)=>{
                    let a = document.createElement("a");
                    a.innerText = building;
                    a.classList.add("listItem");
                    list.appendChild(a);
                }) */

                function submitted(event) {
                  event.preventDefault();
                  let q = document.getElementById('query').value;
                  q = q.toLowerCase();
                  console.log(q);
                  location.href = q;
                  
                }
          
                f.addEventListener('submit', submitted);
              </script>
         </form>
    </div>
    <br> <br> </br>
    <h3 id = "center">Or, select your building from the list below:</h3>

    
    <h3>North Campus</h3>
    <div class="row">
        <a class="myButton" href="bondhall">
            <div class="column">
                Bond Hall
            </div>
        </a>
        <a class="myButton" href="carvergym">
            <div class="column">
                Carver Gym
            </div>
        </a>
        <a class="myButton" href="collegehall">
            <div class="column">
                College Hall
            </div>
        </a>
    </div>
    
    <div class="row">
        <a class="myButton" href="fraserhall">
            <div class="column">
                Fraser Hall
            </div>
        </a>
        <a class="myButton" href="haggardhall">
            <div class="column">
                Haggard Hall
            </div>
        </a>
        <a class="myButton" href="humanitiesbuilding">
            <div class="column">
                Humanities Building
            </div>
        </a>
    </div>
    
    <div class="row">
        <a class="myButton" href="millerhall">
            <div class="column">
                Miller Hall
            </div>
        </a>
        <a class="myButton" href="oldmain">
            <div class="column">
                Old Main
            </div>
        </a>
        <a class="myButton" href="pac">
            <div class="column">
                Performing Arts Center
            </div>
        </a>
    </div>
    
    <div class="row">
        <a class="myButton" href="wilsonlibrary">
            <div class="column">
                Wilson Library
            </div>
        </a>
    </div>
        
    <h3>Mid Campus</h3>

    <div class="row">
        <a class="myButton" href="arntzenhall">
            <div class="column">
                Artnzen Hall
            </div>
        </a>
        <a class="myButton" href="biologybuilding">
            <div class="column">
                Biology Building
            </div>
        </a>
        <a class="myButton" href="environmentalscience">
            <div class="column">
                Environmental Science
            </div>
        </a>
    </div>
    
    <div class="row">
        <a class="myButton" href="fineartsbuilding">
            <div class="column">
                Fine Arts Building
            </div>
        </a>
        <a class="myButton" href="interdiciplinaryscience">
            <div class="column">
                Interdiciplinary Science
            </div>
        </a>
        <a class="myButton" href="morsehall">
            <div class="column">
                Morse Hall
            </div>
        </a>
    </div>
    
    <div class="row">
        <a class="myButton" href="parkshall">
            <div class="column">
                Parks Hall
            </div>
        </a>
        <a class="myButton" href="rossengineeringtech">
            <div class="column">
                Ross Engineering Tech
            </div>
        </a>
        <a class="myButton" href="sciencelecturebuilding">
            <div class="column">
                Science Lecture Building
            </div>
        </a>
    </div>

    <h3>South Campus</h3>
        
    <div class="row">
        <a class="myButton" href="academiceast">
            <div class="column">
                Academic East
            </div>
        </a>
        <a class="myButton" href="academicwest">
            <div class="column">
                Academic West
            </div>
        </a>
        <a class="myButton" href="communicationsfacility">
            <div class="column">
                Communications Facility
            </div>
        </a>
    </div>

    &nbsp;&nbsp;
{% endblock %}