{% extends "layout.html" %} 

{% block header %}

    <title>Campus Map</title>
    <link rel="stylesheet" href="../static/stylesheets/filter.css">
    <!--Add unique stylesheet reference here-->

{% endblock %}

{% block content %}
<h1>Disability Access Navigation Guide</h1>
<h2>Campus Map</h2>


    <div>
        <h3 id="description">Select Building Region</h3>
        <p id="description">Below, you can search for specific lecture buildings by campus region: North, middle, and south. To determine which region your building is in, use the following parameters:
            <br> 
            North Campus: From Carver Gym until Higginson Hall <br>
            Mid Campus: From the Fine Arts building until the Environmental Science building <br>
            South Campus: From the Communications Facility until the Rec Center <br>
        </p>
    </div>
    
    
    <div class="row">
        <a class="myButton" href="northcampus">
            <div class="column">
                North Campus
            </div>
        </a>
        <a class="myButton" href="midcampus">
            <div class="column">
                Mid Campus
            </div>
        </a>
        <a class="myButton" href="southcampus">
            <div class="column">
                South Campus
            </div>
        </a>
    </div>
        
        

{% endblock %}