{% extends "layout.html" %} 

{% block header %}

    <title>Campus Map</title>
    <link rel="stylesheet" href="../static/stylesheets/filter.css">
    <!--Add unique stylesheet reference here-->

{% endblock %}

{% block content %}
<h1>Disability Access Navigation Guide</h1>
<h2>Campus Map</h2>


    <div>
        
        <p id="description">Select your building from the list below</p>
    </div>
    
    <h3>North Campus</h3>
    <div class="row">
        <a class="myButton" href="bondhall">
            <div class="column">
                Bond Hall
            </div>
        </a>
        <a class="myButton" href="carvergym">
            <div class="column">
                Carver Gym
            </div>
        </a>
        <a class="myButton" href="collegehall">
            <div class="column">
                College Hall
            </div>
        </a>
    </div>
    
    <div class="row">
        <a class="myButton" href="fraserhall">
            <div class="column">
                Fraser Hall
            </div>
        </a>
        <a class="myButton" href="haggardhall">
            <div class="column">
                Haggard Hall
            </div>
        </a>
        <a class="myButton" href="humanitiesbuilding">
            <div class="column">
                Humanities Building
            </div>
        </a>
    </div>
    
    <div class="row">
        <a class="myButton" href="millerhall">
            <div class="column">
                Miller Hall
            </div>
        </a>
        <a class="myButton" href="oldmain">
            <div class="column">
                Old Main
            </div>
        </a>
        <a class="myButton" href="pac">
            <div class="column">
                Performing Arts Center
            </div>
        </a>
    </div>
    
    <div class="row">
        <a class="myButton" href="wilsonlibrary">
            <div class="column">
                Wilson Library
            </div>
        </a>
    </div>
        
    <h3>Mid Campus</h3>

    <div class="row">
        <a class="myButton" href="arntzenhall">
            <div class="column">
                Artnzen Hall
            </div>
        </a>
        <a class="myButton" href="biologybuilding">
            <div class="column">
                Biology Building
            </div>
        </a>
        <a class="myButton" href="environmentalscience">
            <div class="column">
                Environmental Science
            </div>
        </a>
    </div>
    
    <div class="row">
        <a class="myButton" href="fineartsbuilding">
            <div class="column">
                Fine Arts Building
            </div>
        </a>
        <a class="myButton" href="interdiciplinaryscience">
            <div class="column">
                Interdiciplinary Science
            </div>
        </a>
        <a class="myButton" href="morsehall">
            <div class="column">
                Morse Hall
            </div>
        </a>
    </div>
    
    <div class="row">
        <a class="myButton" href="parkshall">
            <div class="column">
                Parks Hall
            </div>
        </a>
        <a class="myButton" href="rossengineeringtech">
            <div class="column">
                Ross Engineering Tech
            </div>
        </a>
        <a class="myButton" href="sciencelecturebuilding">
            <div class="column">
                Science Lecture Building
            </div>
        </a>
    </div>

    <h3>South Campus</h3>
        
    <div class="row">
        <a class="myButton" href="academiceast">
            <div class="column">
                Academic East
            </div>
        </a>
        <a class="myButton" href="academicwest">
            <div class="column">
                Academic West
            </div>
        </a>
        <a class="myButton" href="communicationsfacility">
            <div class="column">
                Communications Facility
            </div>
        </a>
    </div>

    &nbsp;&nbsp;
{% endblock %}