{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Arntzen_Hall</h2>

<img src="static/images/Arntzen_Hall.JPG" width="512" height="384" alt="A side angle of a long, brutalist style concrete Building
taken from a grassy hill. The building's convex side is visible on the end, as it juts out at a 45 degree angle
supported by columns. It is nestled between a few trees littering the red walkway." class="center">
<div class="row">
    
</div>

<br><br><br><br>

{% endblock %}