{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Biology Building</h2>

<div id="center">
    <img src="static/images/Biology.jpg" width="512" height="384" alt="The front view of the Biology Building. 
    A small white building with a pattern of square panels on the walls." class="center">
    <div id="info">
        <h3 id="subtitle">
            Building Accessibility Features
        </h3>
        <ul>
            <li>Elevator</li>
            <li>A button activated entrance is located on the northeast corner.</li>
            <li>An elevator provides access to all floors.</li>
            <li>Access to the Chemistry Building is provided via the 4th floor sky bridge.</li>
            <li>This building has Accessible Restrooms.</li>
        </ul>
    </div>
</div>


<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 1
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 2
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 3
        </div>
    </a>
</div>  
<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 4
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Penthouse
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}