{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Environmental Science</h2>

<div id="center">
    <img src="static/images/ES.jpg" width="512" height="384" alt="A side angle of a long, concrete Building
    taken from a grassy hill, nestled between some trees." class="center">
</div>


<div class="row">
    <a class="myButton" href="basement">
        <div class="column">
            Basement
        </div>
    </a>
    <a class="myButton" href="concourse">
        <div class="column">
            Concourse
        </div>
    </a>
    <a class="myButton" href="ah1">
        <div class="column">
            Floor 1
        </div>
    </a>
</div>  
<div class="row">
    <a class="myButton" href="ah2">
        <div class="column">
            Floor 2
        </div>
    </a>
    <a class="myButton" href="ah3">
        <div class="column">
            Floor 3
        </div>
    </a>
    <a class="myButton" href="ah4">
        <div class="column">
            Floor 4
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="es45">
        <div class="column">
            Floor 4 & 5 Split
        </div>
    </a>
    <a class="myButton" href="es56">
        <div class="column">
            Floor 5 & 6 Split
        </div>
    </a>
    <a class="myButton" href="penthouse">
        <div class="column">
            Floor 5 & 6 Split
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}