{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Environmental Science</h2>

<div id="center">
    <img src="static/images/ES.jpg" width="512" height="384" alt="A side angle of the Environmental Science building.
     A large concrete building with many deep window pockets." class="center">
</div>


<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Basement
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Concourse
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 1
        </div>
    </a>
</div>  
<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 2
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 3
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 4
        </div>
    </a>
</div>
<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 4 & 5 Split
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 5 & 6 Split
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 7
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}