{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Fine Arts Building</h2>

<div id="center">
    <img src="static/images/Fine Arts.jpg" width="512" height="384" alt="The front view of the Fine arts building. 
    The low building has many sets of stairs and is made of brick." class="center">
</div>


<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Basement
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 1
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 2
        </div>
    </a>
</div>  
<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 3
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}