{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Interdiciplinary Science</h2>

<div id="center">
    <img src="static/images/ISB_0.jpg" width="512" height="384" alt="The front view of an Interdiciplinary Science Building. 
    The building is made of glass and wood paneling with a second floor walkway." class="center">
</div>


<div class="row">
    <a class="myButton" href="samplefloor">
        <div class="column">
            Floor 1
        </div>
    </a> 
    <a class="myButton" href="samplefloor">
        <div class="column">
            Floor 2
        </div>
    </a>
    <a class="myButton" href="samplefloor">
        <div class="column">
            Floor 3
        </div>
    </a>
<div class="row">
    <a class="myButton" href="samplefloor">
        <div class="column">
            Floor 4
        </div>
    </a>
    <a class="myButton" href="samplefloor">
        <div class="column">
            Penthouse
        </div>
    </a>
</div>

<br><br><br><br>

{% endblock %}