{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Ross Engineering Tech</h2>

<div id="center">
    <img src="static/images/Ross Engineering.jpg" width="512" height="384" alt="The side angle of the Ross Engineering meeting entrance and a set of stairs.
     The building is made out of brick and concrete." class="center">
</div>


<div class="row">
    <a class="myButton" href="samplefloor">
        <div class="column">
            Floor 1
        </div>
    </a>
    <a class="myButton" href="samplefloor">
        <div class="column">
            Floor 2
        </div>
    </a>
    <a class="myButton" href="samplefloor">
        <div class="column">
            Floor 3
        </div>
    </a>
</div>  

<br><br><br><br>

{% endblock %}