{% extends "layout.html" %} 

{% block header %}

<title>Campus Map</title>
<link rel="stylesheet" href="../static/stylesheets/filter.css">

{% endblock %}

{% block content %}

<h1>Disability Access Navigation Guide</h1>
<h2>Ross Engineering Tech</h2>

<div id="center">
    <img src="static/images/buildings/Ross Engineering.jpg" width="512" height="384" alt="The side angle of the Ross Engineering meeting entrance and a set of stairs.
     The building is made out of brick and concrete." class="center">
     <div id="info">
        <h3 id="subtitle">
            Building Accessibility Features
        </h3>
        <ul>
            <li>Elevator</li>
            <li>A button activated entrance is located on the north side of the building.</li>
            <li>The south entrance is not wheelchair accessible despite the ramp.</li>
            <li>An elevator provides access to all floors.</li>
            <li>Accessible restrooms are located on floors 1 and 3.</li>
            <li>This building has Accessible and Gender Neutral Restrooms.</li>
        </ul>
    </div>
</div>


<div class="row">
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 1
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 2
        </div>
    </a>
    <a class="myButton" href="cfbasement">
        <div class="column">
            Floor 3
        </div>
    </a>
</div>  

<br><br><br><br>

{% endblock %}